#root {
  min-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.poster-img{
  width:450px;
}
.button{
  margin:2px;
}

.post-item{
  border:1px solid goldenrod;
  padding:5px;
}

.input-field{
  padding:5px;
  border-radius: 4px;
}

.container{
  border: 2px solid greenyellow;
  padding:10px;
}